[submodule "POP-frontend"]
	path = POP-frontend
	url = https://github.com/DolphinDatabase/POP-frontend
[submodule "POP-backend"]
	path = POP-backend
	url = https://github.com/DolphinDatabase/POP-backend
[submodule "POP-QGisPlugin"]
	path = POP-QGisPlugin
	url = https://github.com/DolphinDatabase/POP-QGisPlugin
