apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-env
data:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "{{ .Values.global.database.postgresql_password }}"
  POSTGRES_DB: "{{ .Values.global.database.postgres_db }}"
  POSTGRESQL_LOG_HOSTNAME: "{{ .Values.global.database.postgres_log_hostname }}"
  POSTGRESQL_LOG_CONNECTIONS: "{{ .Values.global.database.postgresql_log_connections }}"
  POSTGRESQL_LOG_DISCONNECTIONS: "{{ .Values.global.database.postgresql_log_disconnections }}"
  POSTGRESQL_PGAUDIT_LOG_CATALOG: "{{ .Values.global.database.postgresql_pgaudit_log_catalog }}"
  POSTGRESQL_CLIENT_MIN_MESSAGES: "{{ .Values.global.database.postgresql_client_min_messages }}"
  POSTGRESQL_SHARED_PRELOAD_LIBRARIES: "{{ .Values.global.database.postgresql_shared_preload_libraries }}"
  POSTGRESQL_ENABLE_TLS: "{{ .Values.global.database.postgresql_enable_tls }}"
